
.body--name {
    color: rgba(216, 191, 216, 0.8);
    display: inline-flex;
    justify-items: center;
    text-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
    font-size: 5rem;
    
}

.body--container {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

.body--elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4vw;
    padding-top: 0vh;
}

.body--words {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: 4vw;
}


/* CSS */
.body--button {
  appearance: button;
  background-color: rgba(216, 191, 216, 0.4);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  width: 15vw;
}

.body--button:after {
  background-clip: padding-box;
  background-color: rgba(216, 191, 216, 0.8);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.body--button:main,
.body--button:focus {
  user-select: auto;
}

.body--button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.body--button:disabled {
  cursor: auto;
}

.body--button:active {
  border-width: 4px 0 0;
  background: none;
}

.headshot--image {
    width: 25%;
    display: inline-flex;
    margin-top: 70px;
    justify-content: center;
    margin-right: auto;
    border-width: 0;
    border-radius: 20%;
    -webkit-filter: drop-shadow(12px 12px 12px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(12px 12px 12px rgba(255, 255, 255, 0.155));
    position: relative;
    right: 4vw;
    /* box-shadow: 5px 8px 16px 7px rgba(255, 255, 255, 0.2) */
  }

  .body--space {
    font-size: 20vh;
  }

.body--hi {
    margin-bottom: -7vh;
    font-size: 90%;
    margin-left: 0.3vw;
    text-align: left;
}


.body--welcomeDescription {
    display: inline-flex;
    max-width: 70%;
    font-size: 60%;
    margin-top: -5vh;
    text-align: left;
}


/* .elfsight-app-225e036c-006b-4e86-bf3f-46271e0253dd {
    margin-top: 10%;
} */
@media only screen and (max-width : 967px) {
    .body--name {
        font-size: 35px;
    }
}
@media only screen and (max-width : 894px) {
    .body--welcomeDescription {
        max-width: 70%;
    }
    .headshot--image {
        width: 30%;
        right: 8%;
    }
}

@media only screen and (max-width : 720px) {
    .body--elements {
        flex-direction: column-reverse;
    }
    .headshot--image {
        margin-right: 0;
    }
    .body--nameAndWelcome {
        margin-right: 0;
        max-width: 100%;
    }
    .body--welcomeDescription {
        font-size: 20px;
        max-width: 60%;
    }
}

@media only screen and (max-width : 500px) {
    .body--name {
        font-size: 30px;
    }
}

/* @media only screen and (max-width : 450px) {
    .elfsight-app-225e036c-006b-4e86-bf3f-46271e0253dd {
        padding: 20%;
    }
} */


