
.body--name {
    color: rgba(148, 100, 148, 0.8);
    display: inline-flex;
    justify-items: center;
    text-shadow: 2px 2px 4px rgba(216, 191, 216, 1);
}

.body--container {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

.body--elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headshot--image {
    width: 25%;
    display: inline-flex;
    margin-top: 70px;
    justify-content: center;
    margin-right: auto;
    border: 10px solid white;
    box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
    border-radius: 50%;
  }

.body--nameAndWelcome {
    display: inline-flex;
    flex-direction: column;
    color: rgba(148, 100, 148, 0.8);
    align-items: center;
    margin-right: auto;
    max-width: 58%;
    text-shadow: 2px 2px 4px rgba(216, 191, 216, 0.4);
}

.body--welcomeDescription {
    display: inline-flex;
    border: 2px solid white;
    box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
    padding: 30px;
    max-width: 50%;
    
}

.body-nameInputContainer {
    color: black;
}

.elfsight-app-225e036c-006b-4e86-bf3f-46271e0253dd {
    margin-top: 10%;
}
@media only screen and (max-width : 967px) {
    .body--name {
        font-size: 35px;
    }
}
@media only screen and (max-width : 894px) {
    .body--welcomeDescription {
        max-width: 70%;
    }
    .headshot--image {
        width: 30%;
        right: 8%;
    }
}

@media only screen and (max-width : 720px) {
    .body--elements {
        flex-direction: column-reverse;
    }
    .headshot--image {
        margin-right: 0;
    }
    .body--nameAndWelcome {
        margin-right: 0;
        max-width: 100%;
    }
    .body--welcomeDescription {
        font-size: 20px;
        max-width: 60%;
    }
}

@media only screen and (max-width : 500px) {
    .body--name {
        font-size: 30px;
    }
}

@media only screen and (max-width : 450px) {
    .elfsight-app-225e036c-006b-4e86-bf3f-46271e0253dd {
        padding: 20%;
    }
}


