.footer--container {
    color: white;
    background: rgba(216, 191, 216, 0.8);
    height: 150px;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer--social-icons {
    display: flex;
    gap: 10px;
  }
  
  .footer--icon {
    font-size: 24px;
    color: #555;
  }
  
  .footer--icon:hover {
    color: #000;
  }