/* Styles for the container */
.Login--welcome {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid rgba(216, 191, 216, 1);  
    box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
    width: 35vw;
    height: 40vh;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    padding: 20px;  
    color: black;
    background: rgba(216, 191, 216, 1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.Login--googleContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border: 2px solid white;  
    box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
    width: 30vw;
    color: black;
    height: 45vh;
}

.Login--container {
    display: inline-flex;
    margin-top: 15vh;
}

.Login--insideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login--logo {
    width: 22%;
}
